<aside class="tengah-side">
    <div class="chat-room-head">
        <h3 id="RoomName">Join Room</h3>
    </div>
    <div class="chatAppBody" id="chat-room-body">
        
    </div>
    <footer>
        <div class="chat-txt">
            <input id="messageInput" type="text" class="form-control">
        </div>
        <button id="sendButton" class="btn btn-danger">Send</button>
    </footer>
</aside>

@section Scripts {
    <script src="~/js/chatHub.js" asp-append-version="true"></script>
}
